<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--<add key="IP" value="118.112.188.39" />
    <add key="Port" value="2001" />
    <add key="Name" value="cdles" />
    <add key="Pwd" value="scxd_2018" />
    <add key="Instance" value="orcl" />-->
    <add key="IP" value="140.143.82.131" />
    <add key="Port" value="10014" />
    <add key="Name" value="root" />
    <add key="Pwd" value="jinxin20170630" />
    <add key="Instance" value="sys" />
    <add key="package" value="com.example.mybatistest" />
    <add key="author" value="lxw" />
    <add key="propath" value="F:\8培训资料\培训资料\2019-星盾JAVA通用基础框架\02-2019-05-15-mybatis的应用详解\Demo" />
  </appSettings>
  <connectionStrings>
    <add name="OracleConnectionString" providerName="System.Data.OracleClient" connectionString="Data Source=118.112.188.39:2001/orcl; user=cdles; password=scxd_2018; persist security info=false; " />
    <add name="DataSource" providerName="" connectionString="" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
